.item {
  width: 90%;
  display: flex;
  justify-content: space-between;
  margin: 1rem 0;
  padding: 1rem;
  background-color: #f7f5ef;
  border: 1px solid white;
  border-radius: 5px;
  border-radius: 5px;
  list-style: none;
}
.item:hover {
  border: 1px solid black;
  cursor: pointer;
}
.item input {
  width: 3%;
  height: 20px;
  margin: 0 1rem;
}

.delete {
  width: 20px;
  height: 20px;
  border: 1px solid grey;
  border-radius: 3px;
  text-align: center;
}
.delete:hover {
  border: 1px solid red;
}
